
#AllProject{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#placar{
    display: flex;
    gap: 30px;
}
#botoes{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}
#Computador{
    margin-top: 30px;
}

@media (max-width: 600px) {
 
  #AllProject {
    width: 90%;  
    margin-top: 20px;
  }

  #placar {
    flex-direction: row;  
    gap: 10px;  
    align-items: center;  
  }


  #botoes {
    flex-wrap: wrap;  
    justify-content: center;  
    gap: 20px;  
    margin-top: 10px;
  }

 
  h1 {
    font-size: 18px;  
  }

  #Computador {
    margin-top: 15px;
  }
}
